@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,500italic,700italic);
/***********************
	Global Style
***********************/
ul, ol, li, a {
  list-style: none;
  color: #fff; }

h3 {
  color: #fff; }

/***********************
		Header
***********************/
.sec-reg-log {
  background-color: #000; }

.brand-logo {
  padding-top: 10px;
  height: 1px; }
  .brand-logo img {
    width: 80px;
    height: auto; }

/***********************
		Slider
***********************/
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px; }

.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0; }

.tp-banner {
  width: 100%;
  position: relative; }

.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0; }

/***********************
	Main Navigation
***********************/
#top-up{
	border-radius: none;


}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
  padding-top: -1px;
  color: white; 
}

#custom-bootstrap-menu.navbar-default {
  font-family: "Ubuntu", Times, Serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffa233;
  border-width: 1px;
 }

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  color: white;
  background-color: #ffa233; }

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
  color: #ffa233;
  background-color: #fff; }

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: white; }

#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #ffffff; }

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #ffffff; }

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ffa233; }

/***********************
	Widget
***********************/
#wiget1 {
  background: url(../img/wiget-1.jpg) no-repeat center center;
  display: table;
  margin-top:-20px;
  height: 956px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#wiget2 {
  background: url(../img/wiget-2.jpg) no-repeat center center;
  display: table;
  height: 956px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#jedul1{
	position: relative;
	margin-bottom:20px;
}
#jedelorange{
	color:#ffa233;
}
.jedul{
	font-family: "Ubuntu", serif;
	font-weight: 700;
	font-size: 4.1em;
	margin-bottom: 100px;
	color: #fff;
}
.tabs-style {
  background-color: #333;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: underline;
}
#tombol {
	border: none;
	font-family: "Ubuntu", Times, Serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: none;
	cursor: pointer;
	position: relative;
	border: 4px solid #fff;
	text-decoration: none;
	padding: 15px 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#tombol:hover,
#tombol:active {
	color: #ffa233;
	background: #fff;
}
.wiget-center{
  margin-top: 350px;
}
.flag li{
    margin-top: 100px;
}
#thai {
  background: url(../img/spirate-sheet.png) no-repeat -1350px -46px;
  width: 87px;
  height: 59px;
}
#thai a:hover{
  background: url(../img/spirate-sheet.png) no-repeat -1350px -144px;
  width: 87px;
  height: 59px;
}
#indo{
  background: url(../img/spirate-sheet.png) no-repeat -1445px -46px;
  width: 88px;
  height: 61px;
}
#indo a:hover {
  background: url(../img/spirate-sheet.png) no-repeat -1445px -144px;
  width: 88px;
  height: 61px;
}
#taiw{
  background: url(../img/spirate-sheet.png) no-repeat -1541px -44px;
  width: 88px;
  height: 60px;
}
#taiw a:hover {
  background: url(../imgs/spirate-sheet.png) no-repeat -1541px -142px;
  width: 88px;
  height: 60px;
}
.fb span{
	display: table;
	margin: 200px auto 25px;
	color: #5a5a5a;
	position: relative;
	border: 2px solid #fff;
	width: 100px;
	height: 100px;
	font-size: 35px;
	border-radius: 50%;
	padding-top: 22px
}



/***********************

  NEWS-EVENT-PROMO-UPDATE-E SPORT
  
**********************/

/*TEST COURASEl*/
#owl-news .item {
    color: #FFFFFF;
    padding: 30px 0;
    text-align: center;
}
.owl-next {
    width: 86px;
    height: 185px;
    right: 0;
    position: absolute;
    cursor: pointer;
    right: 30px;
    text-indent: -10000px;
    top: 50%;
    margin: -55px 0 0 0;
    padding: 0 10px;
    transition: background 0.5s;
  }
.owl-prev {
    width: 86px;
    height: 185px;
    position: absolute;
    cursor: pointer;
    text-indent: -10000px;
    left: 30px;
    top: 50%;
    margin: -55px 0 0 0;
    padding: 0 10px;
    transition: background 0.5s;
  }

