//- BLOG SECTION - DYNAMIC
section.blog
	div.container
		div.row
			ul.col-md-12.col-xs-1.news.post-tag
				li.post-link
					img(src="./img/asset-post/bestforthebest.jpg")
				li.post-link
					img(src="./img/asset-post/loginrewardaprilceria.jpg")
				li.post-link
					img(src="./img/asset-post/menangonlinebestpart1.jpg")
				li.post-link
					img(src="./img/asset-post/music-of.jpg")
				li.post-link
					img(src="./img/asset-post/pendaftaranofflinecompo.png")
		div.col-md-12.btn-rmore
			a READ MORE
CUSTOME TRIGER TOP UP
	aside.custome-xshot.bg-parrallax-dark
		div.container.carousel-main-count.clearfix
			div.uniform-carousel.crsl-custome
				div.col-md-12.title
					h2 CUSTOME
				ul.item-custome.crsl-wrap
					li.crsl-item
						a(href="#")
							img(src="./img/ssshhh.png")
					li.crsl-item
						a(href="#")
							img(src="./img/uniformxshot.png")
					li.crsl-item
						a(href="#")
							img(src="./img/cool.png")
					li.crsl-item
						a(href="#")
							img(src="./img/ssshhh.png")
					li.crsl-item
						a(href="#")
							img(src="./img/ssshhh.png")
			 Carousal Navigation
	 		ul#custome-item 
	 			li
	 				a.previous(href="#")
	 					i.fa-chevron-left
	 			li
	 				a.previous(href="#")
	 					i.fa-chevron-right
 		div.shop
 			a.btn.btn-default.btn-costume(href="#" role="button-action-shop") Shop
  WEAPON ITEM
 aside.weapon-xshot.bg-orange
 	div.container.carousel-main-count.clearfix
 		div.weapon-carousel.crsl-custome
 			div.col-md-12.title
 				h2 CUSTOME
 			ul.item-custome.crsl-wrap
 				li.crsl-item
 					a(href="#")
 						img(src="./img/ak47.png")
 				li.crsl-item
 					a(href="#")
 						img(src="./img/col11.png")
 				li.crsl-item
 					a(href="#")
 						img(src="./img/micinegun.png")
 				li.crsl-item
 					a(href="#")
 						img(src="./img/col11.png")
 		 Carousal Navigation
 		ul#weapon-item 
 			li
 				a.previous(href="#")
 					i.fa-chevron-left
 			li
 				a.previous(href="#")
 					i.fa-chevron-right
 		div.shop
 			a.btn.btn-default.btn-weapon(href="#" role="button-action-shop") Shop
  TOP PLAYER
  AJAX POP UP
 include rankdetail.jade
  Head Kill
 section.rank-player
 	 
 	div.rank-area
 		div.container
 			div.row.head-kill.clearfix
 				// ::BEFORE
 				div.col-md-4.col-conts 
 					div.icon-head-kill
 						img(src="./img/icon-head-shot.png")
 					h4 HEAD Kill
 					div.line-rank
 					p Rank Top Of The Week
 				div.col-md-4.col-conts 
 					div.icon-head-kill
 						img(src="./img/icon-top-player.png")
 					h4 PLAYER
 					div.line-rank
 					p Rank Top Of The Week
 				div.col-md-4.col-conts 
 					div.icon-head-kill
 						img(src="./img/icon-kniff-shot.png")
 					h4 KNIFE KILL
 					div.line-rank
 					p Rank Top Of The Week
 aside.bg-parralax-battle-royal.nopadding
 	div.aside-overlay
 		div.container
 			 ::BEFORE
 			div.row.text-center
 				div.col-lg-8.col-lg-offset-2
 					li.battle-char-xhot
 						a(href="#")
 							img(src="bt-royal.png")
 					li.battle-shadow
 						img(src="bt-royal-shadow.png")
 					li.battle-background
 						img(src="bt-royal-bg.jpg")
 section.media-xshot
 	div.container
 		div.row
 			div.col-md-6.wallpaper
 				span.mask
 					a(href="#")
 						i.icon-walpaper
 							 BEFORE
 					img(src="walpaper.jpg" alt=wallpaper)
 			div.col-md-6.media-player
 				span.mask
 					a(href="#")
 						i.icon-player
 							 BEFORE
 					img(src="walpaper.jpg" alt=wallpaper)
 // Social Media
 section.social-media
 	div.container
 		div.row
 			div.col-md-12
 				li.fb
 					a(href="#")
 						i.icon-fb
 				li.fb
 					a(href="#")
 						i.icon-twitter
 				li.fb
 					a(href="#")
 						i.icon-gPluss
 section.logo-pub-dev
 	div.container
 		div.row
 			div.col-md-6
 				li.logo-winner
 					a(href="#")
 				li.logo-kingsof
 					a(href="#")
 section.footer-copywright
 	div.container
 		.row
 			p Copyright©2014 Winner Online Co.,Ltd. All rights Reserved