script(src="js/bootstrap.min.js")
script(src="js/bootstrap.js")
script(src="js/owl.carousel.js")
script(src="js/owl.carousel.min.js")
script.
			var revapi;

				jQuery(document).ready(function() {

					   revapi = jQuery('.tp-banner').revolution(
						{	

							navigationType:"none",
							navigationArrows:"solo",
							navigationStyle:"preview1",

							delay:2000,
							startwidth:1170,
							startheight:500,
							hideThumbs:10,
							fullWidth:"off",
							fullScreen:"on",
							fullScreenOffsetContainer: ""

							
						});

				});	//ready
		