head
	meta(http-equiv="X-UA-Competible" content="IE-edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(charset="UTF-8")
	title Xshot | game fps
	// jquery
	script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js")
	// CSS STYLE EXTENDED
	link(href="css/bootstrap.css" rel="stylesheet")
	link(href="css/navstylechange.css.css" rel="stylesheet")
	link(href="css/extralayers.css" rel="stylesheet")
	link(href="css/owl.carousel.css" rel="stylesheet")
	// CSS 
	link(rel="stylesheet" type="text/css" href="css/style.css" media="screen")
	// SLIDER REVOLUTION 4.x SCRIPTS
	script(type="text/javascript" src="js/jquery.themepunch.plugins.min.js")
	script(type="text/javascript" src="js/jquery.themepunch.revolution.min.js")
	// SLIDER REVOLUTION 4.x CSS SETTINGS
	link(rel="stylesheet" type="text/css" href="css/settings.css" media="screen")
	