//POP RANK AJAX
	.container
		div.table-responsive
			div.close
				table.table
					thead
						tr
							tr No
							tr Rangking
							tr Char Name
							tr Kill
							tr Death
				tbody
					tr
						th(scope="row") 1
						td 
							img(src="https://xshot.winnerinter.co.id/x/Req_Thumbs/Rank/s_119.jpg" alt="rank")
						td Aluzka
						td 1.050.532
						td 96.051
					tr
						th(scope="row") 1
						td 
							img(src="https://xshot.winnerinter.co.id/x/Req_Thumbs/Rank/s_119.jpg" alt="rank")
						td Aluzka
						td 1.050.532
						td 96.051
					tr
						th(scope="row") 1
						td 
							img(src="https://xshot.winnerinter.co.id/x/Req_Thumbs/Rank/s_119.jpg" alt="rank")
						td Aluzka
						td 1.050.532
						td 96.051
					tr
						th(scope="row") 1
						td 
							img(src="https://xshot.winnerinter.co.id/x/Req_Thumbs/Rank/s_119.jpg" alt="rank")
						td Aluzka
						td 1.050.532
						td 96.051
					tr
						th(scope="row") 1
						td 
							img(src="https://xshot.winnerinter.co.id/x/Req_Thumbs/Rank/s_119.jpg" alt="rank")
						td Aluzka
						td 1.050.532
						td 96.051
					tr
						th(scope="row") 1
						td 
							img(src="https://xshot.winnerinter.co.id/x/Req_Thumbs/Rank/s_119.jpg" alt="rank")
						td Aluzka
						td 1.050.532
						td 96.051
				


