section.tp-banner-container
  .tp-banner
    ul
      // SLIDE
      //- Slider1
      li(data-transition='fade', data-slotamount='5', data-masterspeed='700')
        // MAIN IMAGE
        img(src='img/bg1.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
        //- // LAYERS
        //- .tp-caption.mediumlarge_light_white_center.customin.customout.start(data-x='50', data-hoffset='0', data-y='50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
        //-   | BASIC CAPTION
        //-   br
        //-   | ANIMATIONS
        // LAYER NR. 1
        .tp-caption.medium_bg_asbestos.fade(data-x='50', data-y='250', data-speed='500', data-start='800', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
          | Oke uda keluar tapi mana Buuttonnya.
        //- // LAYER NR. 2
        //- .tp-caption.medium_bg_asbestos.sfl(data-x='50', data-y='300', data-speed='500', data-start='1200', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | SHORT FROM LEFT (sfl)
        //- // LAYER NR. 3
        //- .tp-caption.medium_bg_asbestos.skewfromleft(data-x='50', data-y='350', data-speed='800', data-start='1900', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | SKEW FROM LEFT (skewfromleft)
        //- // LAYER NR. 4
        //- .tp-caption.medium_bg_asbestos.sft(data-x='50', data-y='200', data-speed='800', data-start='2600', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | SHORT FROM TOP (sft)
        //- // LAYER NR. 5
        //- .tp-caption.medium_bg_asbestos.lft(data-x='50', data-y='400', data-speed='800', data-start='3300', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | LONG FROM TOP (lft)
        //- // LAYER NR. 6
        //- .tp-caption.medium_bg_asbestos.sfr(data-x='right', data-hoffset='-50', data-y='200', data-speed='800', data-start='4000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | SHORT FROM RIGHT (sfr)
        //- // LAYER NR. 7
        //- .tp-caption.medium_bg_asbestos.skewfromright(data-x='right', data-hoffset='-50', data-y='250', data-speed='800', data-start='4700', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | SKEW FROM RIGHT (skewfromright)
        //- // LAYER NR. 8
        //- .tp-caption.medium_bg_asbestos.sfb(data-x='right', data-hoffset='-50', data-y='300', data-speed='800', data-start='5400', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | SHORT FROM BOTTOM (sfb)
        //- // LAYER NR. 9
        //- .tp-caption.medium_bg_asbestos.lfb(data-x='right', data-hoffset='-50', data-y='350', data-speed='800', data-start='6100', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | LONG FROM BOTTOM (lfb)
        //- // LAYER NR. 10
        //- .tp-caption.medium_bg_asbestos.randomrotate(data-x='right', data-hoffset='-50', data-y='400', data-speed='800', data-start='6800', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | RANDOM ROTATE (randomrotate)
        //- // LAYER NR. 11
        //- .tp-caption.medium_bg_asbestos.lfr(data-x='right', data-hoffset='-50', data-y='450', data-speed='800', data-start='7500', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | LONG FROM RIGHT (lfr)
        //- // LAYER NR. 12
        //- .tp-caption.medium_bg_asbestos.lfl(data-x='50', data-y='450', data-speed='800', data-start='7500', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | LONG FROM LEFT (lfl)
      // SLIDE
      //- slider2
      li(data-transition='fade', data-slotamount='5', data-masterspeed='700')
        // MAIN IMAGE
        img(src='img/bg2.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
        // LAYERS
        // LAYER 0
        .tp-caption.mediumlarge_light_white_center.customin.customout.start(data-x='50', data-hoffset='0', data-y='50', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
          | Ayo Button Oke Debug 
        //- // LAYER NR. 1
        //- .tp-caption.medium_bg_asbestos.sfl(data-x='50', data-y='250', data-speed='500', data-start='800', data-easing='Power1.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Power1.easeOut
        //- // LAYER NR. 2
        //- .tp-caption.medium_bg_asbestos.sfl(data-x='50', data-y='300', data-speed='500', data-start='1200', data-easing='Back.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Back.easeOut
        //- // LAYER NR. 3
        //- .tp-caption.medium_bg_asbestos.skewfromleft(data-x='50', data-y='350', data-speed='800', data-start='1900', data-easing='Elastic.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Elastic.easeOut
        //- // LAYER NR. 4
        //- .tp-caption.medium_bg_asbestos.skewfromleft(data-x='50', data-y='200', data-speed='800', data-start='2600', data-easing='Power3.easeInOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Power3.easeInOut
        //- // LAYER NR. 5
        //- .tp-caption.medium_bg_asbestos.skewfromleft(data-x='50', data-y='400', data-speed='800', data-start='3300', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Power4.easeOut
        //- // LAYER NR. 6
        //- .tp-caption.medium_bg_asbestos.skewfromright(data-x='right', data-hoffset='-50', data-y='200', data-speed='800', data-start='4000', data-easing='Power2.easeInOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Power2.easeInOut
        //- // LAYER NR. 7
        //- .tp-caption.medium_bg_asbestos.skewfromright(data-x='right', data-hoffset='-50', data-y='250', data-speed='800', data-start='4700', data-easing='Circ.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Circ.easeOut
        //- // LAYER NR. 8
        //- .tp-caption.medium_bg_asbestos.skewfromright(data-x='right', data-hoffset='-50', data-y='300', data-speed='800', data-start='5400', data-easing='Cube.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Cube.easeOut
        //- // LAYER NR. 9
        //- .tp-caption.medium_bg_asbestos.skewfromright(data-x='right', data-hoffset='-50', data-y='350', data-speed='800', data-start='6100', data-easing='Bounce.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Bounce.easeOut
        //- // LAYER NR. 10
        //- .tp-caption.medium_bg_asbestos.skewfromright(data-x='right', data-hoffset='-50', data-y='400', data-speed='800', data-start='6800', data-easing='Linear.easeNone', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Linear.easeNone
        //- // LAYER NR. 11
        //- .tp-caption.medium_bg_asbestos.skewfromright(data-x='right', data-hoffset='-50', data-y='450', data-speed='800', data-start='7500', data-easing='Expo.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Expo.easeOut
        //- // LAYER NR. 12
        //- .tp-caption.medium_bg_asbestos.skewfromleft(data-x='50', data-y='450', data-speed='800', data-start='7500', data-easing='Expo.easeIn', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6')
        //-   | Expo.easeIn
      // SLIDE
      //-Slider 3
      li(data-transition='fade', data-slotamount='5', data-masterspeed='700')
        // MAIN IMAGE
        img(src='img/bg3.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
        // LAYERS
        //- // LAYERS
        //- .tp-caption.mediumlarge_light_white_center.customin.customout.start(data-x='right', data-hoffset='-60', data-y='bottom', data-voffset='-120', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
        //-   | Ayo keluar
        //-   br
        //-   | Tinggal Button
        //-   br
        //-   |  Jquarynya gak jalan
        // LAYER NR. 5
        .tp-caption.medium_bg_asbestos.skewfromleft.customout(data-x='104', data-y='154', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='800', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='on', style='z-index: 6')
          | Apa yang kelewatan yah...
      // SLIDE
      //- Slider4
      li(data-transition='fade', data-slotamount='5', data-masterspeed='700')
        // MAIN IMAGE
        img(src='img/bg4.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
        // LAYERS
        // LAYER NR. 5
        .tp-caption.medium_bg_asbestos.skewfromleft.customout(data-x='104', data-y='154', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='800', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='on', style='z-index: 6')
          | Coba lagi dong 

