section#wiget1
	.container.text-center
		.row.wiget-center
			ul.col-md-12.col-md-offeset-4.list-inline.flag
					li#thai
						a(href="#")
					li#indo
						a(href="#")
					li#taiw
						a(href="#")
			.col-md-12.col-md-offeset-4
				span.jedul JOIN THE LARGE COMMUNITY OF FPS
			.col-md-12.col-md-offeset-4
				a#join-now(role="button" href="#") JOIN NOW

//- section#wiget2(data-stellar-background-ratio="0.5")
	.container
		.col-md-10.col-md-offeset-1
			.flag
				li#thai
				li#indo
				li#taiw
				h3 JOIN THE LARGE COMMUNITY OF FPS
				a.btn.btn-default.btn-lg(role="button" href="#") JOIN NOW .btn.btn-default.btn-lg